# Хост приложения:
APP_HOST=symfony.docker.local

# Путь к приложению внутри контейнера:
APP_PATH=/pub/www/app

# Доступы для СУБД (все поля обязательны):
# DB_CONNECTION — драйвер Doctrine. Допустимо: pgsql, mysql, mariadb, sqlite
DB_CONNECTION=pgsql
DB_HOST=database
# DB_PORT — порт СУБД (для PostgreSQL — 5432)
DB_PORT=5432
DB_DATABASE=symfony
DB_USERNAME=login
DB_PASSWORD=pass

# Если установить значение 1, то messenger:consume scheduler_default будет выполняться раз в минуту
# Если установить значение 0, то планировщик Symfony не будет выполняться
SYMFONY_CRON_ENABLED=0

# Если переменная MAILPIT_ENABLED задана, допустимы только значения 0 или 1
# Если значение 1, то mailpit будет перехватывать письма
# Если значение 0, то mailpit не будет перехватывать письма
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025
